<footer class="page-footer font-small #fcca03 pt-4 text-black" style=" background-color:#fcca03; margin-top:150px;">
  <style>
    
    a{
      color:black;
    }
  </style>
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row" style="padding:20px;">

      <!-- Grid column -->
      
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3 ">

        <!-- Links -->
      
    </div>
    <!-- Grid row -->

  </div>
  

  <a href="http://127.0.0.1:8000/" class=" navbar-brand "><img src="../media/anasayfa/yun.svg" alt="">Arı Mektebi</a>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://zigguratakademi.com/"> Arimektebi.com</a>
  </div>
  <div class="footer-copyright text-center py-3"> Make By <a href=""> YEÇ </div>
  

</footer>